In [23]:
import sys
sys.path.append('/opt/ml/code')

In [26]:
import os
import pandas as pd
import config as cf

In [44]:
train_info = pd.read_csv(os.path.join(cf.trainDataDir, 'train.csv'))
train_info

          id  gender   race  age                    path
0     000001  female  Asian   45  000001_female_Asian_45
1     000002  female  Asian   52  000002_female_Asian_52
2     000004    male  Asian   54    000004_male_Asian_54
3     000005  female  Asian   58  000005_female_Asian_58
4     000006  female  Asian   59  000006_female_Asian_59
...      ...     ...    ...  ...                     ...
2695  006954    male  Asian   19    006954_male_Asian_19
2696  006955    male  Asian   19    006955_male_Asian_19
2697  006956    male  Asian   19    006956_male_Asian_19
2698  006957    male  Asian   20    006957_male_Asian_20
2699  006959    male  Asian   19    006959_male_Asian_19

[2700 rows x 5 columns]

In [45]:
train_info['gender'] = train_info.gender.map({'male': 0, 'female': 1})
def age(a):
    if a < 30:
        return 0
    elif 30 <= a < 60:
        return 1
    else:
        return 2
train_info['age'] = train_info.age.map(lambda a: age(a))
train_info

          id  gender   race  age                    path
0     000001       1  Asian    1  000001_female_Asian_45
1     000002       1  Asian    1  000002_female_Asian_52
2     000004       0  Asian    1    000004_male_Asian_54
3     000005       1  Asian    1  000005_female_Asian_58
4     000006       1  Asian    1  000006_female_Asian_59
...      ...     ...    ...  ...                     ...
2695  006954       0  Asian    0    006954_male_Asian_19
2696  006955       0  Asian    0    006955_male_Asian_19
2697  006956       0  Asian    0    006956_male_Asian_19
2698  006957       0  Asian    0    006957_male_Asian_20
2699  006959       0  Asian    0    006959_male_Asian_19

[2700 rows x 5 columns]

In [53]:
import glob

In [54]:
train_info

          id  gender   race  age                    path
0     000001       1  Asian    1  000001_female_Asian_45
1     000002       1  Asian    1  000002_female_Asian_52
2     000004       0  Asian    1    000004_male_Asian_54
3     000005       1  Asian    1  000005_female_Asian_58
4     000006       1  Asian    1  000006_female_Asian_59
...      ...     ...    ...  ...                     ...
2695  006954       0  Asian    0    006954_male_Asian_19
2696  006955       0  Asian    0    006955_male_Asian_19
2697  006956       0  Asian    0    006956_male_Asian_19
2698  006957       0  Asian    0    006957_male_Asian_20
2699  006959       0  Asian    0    006959_male_Asian_19

[2700 rows x 5 columns]

In [51]:


for p in glob.glob(os.path.join(cf.trainDataImgSubDirs[0], '*')):
    img_dir, name = os.path.split(p)
    _, sub_dir = os.path.split(img_dir)
    print(sub_dir, name)

003790_male_Asian_46 mask1.jpg
003790_male_Asian_46 mask3.jpg
003790_male_Asian_46 incorrect_mask.jpg
003790_male_Asian_46 mask2.jpg
003790_male_Asian_46 mask5.jpg
003790_male_Asian_46 mask4.jpg
003790_male_Asian_46 normal.jpg

In [4]:
import numpy as np
from sklearn.model_selection import StratifiedKFold

In [12]:
X = np.array([[1, 2], [3, 4], [1, 2], [3, 4], [6, 10]])
y = np.array([0, 0, 1, 1, 2])

In [19]:
skf = StratifiedKFold(n_splits=2)
skf.get_n_splits(X, y)

2

In [20]:
print(skf)

StratifiedKFold(n_splits=2, random_state=None, shuffle=False)

In [21]:
for train_index, test_index in skf.split(X, y):
    print("TRAIN:", train_index, "TEST:", test_index)

TRAIN: [1 3] TEST: [0 2 4]
TRAIN: [0 2 4] TEST: [1 3]

/opt/conda/lib/python3.8/site-packages/sklearn/model_selection/_split.py:666: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  warnings.warn(("The least populated class in y has only %d"

In [ ]:
skf = StratifiedKFold()
for train, test in skf.split()